<h1 id="tableLabel">Posts</h1>

<p *ngIf="!posts"><em>Loading...</em></p>

<table *ngIf="posts">
    <thead>
        <tr>
            <th>PostID</th>
            <th>Title</th>
            <th>Text</th>
            <th>Author</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts">
            <td>{{ post.postID }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.text }}</td>
            <td>{{ post.author }}</td>
            <td>{{ post.created }}</td>
        </tr>
    </tbody>
</table>
